.main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.navContainer{
  background-color: #171717;
  padding: 30px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1199px){
    display: none;
  }
}
.title{
  text-align: center;
  padding: 10px;
  color: #6f42c1;
  margin-bottom: 30px;
}
.fullRow {
  width: 100%;
  position: relative;
  padding-bottom: 80px;
  padding-top: 80px;
}
.container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
 margin: 0 auto;
  @media (max-width: 1400px){
    max-width: 1200px;
  }
  @media (max-width: 1200px){
    max-width: 1140px;
  }
  @media (max-width: 992px){
    max-width: 960px;
  }
  @media (max-width: 786px){
    max-width: 720px;
  }
  @media (max-width: 576px){
    max-width: 540px;
  }
}
.roomThumbList1{

}
.hoverZoom{
  &:before{
    z-index: 1;
  }
}
.overflowHidden {
  overflow: hidden;

}
.roomInfo{
  display: inline-block;
  & p {
    color: #818181;;
  }
}
.downLineLeft{
  padding-bottom: 15px;
  & span {
    color: #818181;;
  }
  &::before{
    background-color: #f4c024;
    width: 30px;
    height: 3px;
    left: 34.5%;
    top: 121px;
    right: 0;
    content: "";
    position: absolute;
    z-index: 1;
  }
}
.titleRoom{
  & a {
    text-decoration: none;
    color: #0943a0;
    transition: all 300ms ease-in-out 0s;
    &:hover{
      color: #f4c024;
    }
  }
}
.icons{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
}
.roomSize{
  color: #a5a5a5;
  border: 1px solid #f5f5f5;
  padding: 9px 15px;
  font-weight: 500;
}
.forBook{
  border-left: 1px solid #f5f5f5;
  height: 80%;
  margin-top: 28px;
  text-align: center;
  padding: 60px 0;
  margin-left: -15px;
}
.forBookPrice{
  text-align: center;
  margin-bottom: 40px;
  color: #a5a5a5;
  & small{
    color: #a5a5a5;
  }
}
.statusF{
  color: black;
  text-align: center;
  margin-bottom: 40px;
}
.statusA{
  color: #3dcc4a;
  text-align: center;
  margin-bottom: 40px;
}