.root{
  overflow: hidden;
}
.searchContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.pagesTitle{
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px;
  margin-bottom: 20px;
}
.pagesLinks{
  margin-inline: 15px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}
.pagesArrow{
  font-weight: 500;
  font-size: 20px;
  color: #774AFF;
}
.pagesSubTitle{
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}
.listLayout{
  padding-top: 30px;
  overflow: hidden;
}
.toolBox {
  margin-bottom: 35px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}
.sortBox{
  float: left;
}
.ulBox{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.label{
  font-weight: 600;
  padding: 5px;
}
.viewBox{
  margin-bottom: 35px;

}
.view{
  list-style: none;
}
.sortByType{
  color: #666;
  display: block;
  font-size: 12px;
  margin-right: 0;
  padding: 0 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  float: left;
  position: relative;
}
.link{
  padding: 5px;
  text-decoration: none;
  color: #666;
  border: none;
  background-color: #f8f4f2;
  &:hover{
    background-color: #f8f0ec;
  }
}
.active{
  position: relative;
  padding: 5px;
  text-decoration: none;
  color: white;
  border: none;
  background-color: #3695d5;
  &:before{
    position: absolute;
    content: '';
    top:34px ;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 5px solid #3695d5;
    transform: translateX(-50%);
  }
  &:hover{
    background-color: #3695d5;
  }
}
.itemContainer{
  min-height: 300px;
  position: relative;
}
.list{
  width: 100%;
  opacity: 1;
  list-style-type: none;
  padding-right: 15px;
}