.cities{
  margin-bottom: 200px;
  background: #FFFFFF;
  overflow: hidden;
}
.row_images{
  padding: 10px 51px;
}
.pagesButtonContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pagesButton{
  display: inline-block;
  margin-inline: 8px;
  border: none;
}