.cities{
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
  .title{
    color: #6949C6;
    text-align: center;
  }
  .row_images{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
  }
}