.main{
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.navContainer{
  background-color: #171717;
  padding: 30px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1199px){
    display: none;
  }
}
.message {
  margin: 15px auto;
  width: 100%;
  height: calc(100vh - 100px);
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fbfbfb;
  @media (min-width: 1400px){
    max-width: 1300px;
  }
  @media (max-width: 1200px){
    max-width: 1140px;
  }
  @media (max-width: 992px){
    max-width: 960px;
  }
  @media (max-width: 786px){
    max-width: 720px;
  }
  @media (max-width: 576px){
    max-width: 540px;
  }
}
.borderRight{
  border-right: 1px solid #ddd;
  height: calc(100vh - 100px);
}
.messageHeaderLeft{
  max-width: 979px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
}
.messageHeader {
  min-width: 318.1px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f8f8;
  & input {
    flex: 1 1;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #f8f8f8;
    padding: 0 5px;
  }
}
.messageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  & i {
    font-size: 5rem;
  }
}
.messageChatList{
  min-width: 318.1px;
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
}
.messageUserLeft{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
  border: 1px solid #f3f3f3;
  color: #555;
  cursor: pointer;
  width: 100%;
}
.messageUser{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  border: 1px solid #f3f3f3;
  color: #555;
  cursor: pointer;
  width: 100%;
}
.itemContainer{
  padding: 0.5rem!important;
  align-items: center!important;
  text-decoration: none;
  gap: 8px;
  width: 100%!important;
  display: flex!important;
  & span {
    font-size: 15px;
    font-weight: bold;
  }
}
.chatContainer{
  width: 100%;
  height: calc(100% - 110px);
  overflow-y: auto;
  padding: 0 10px;
}
.chatDisplay {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 15px;
}
.otherMessages{
  justify-content: start;
  justify-items: start;
}
.chatRow{
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 10px;
}
.youMessages{
  justify-content: end;
  justify-items: end;
}