.main{
  background-color: #fff;
  position: relative;
}
.navContainer{
  background-color: #171717;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //@media (min-width: 1200px){
  //  flex: 0 0 auto;
  //  width: 22%;
  //}
}