.list{
  padding: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.images_link{
  text-decoration: none;
}
.hashLink{
  height: 40px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #262626ab;
  display: flex;
}
.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.images{
  padding: 10px;
  align-items: center;
  width: 350px;
  height: 300px;
  justify-content: center;
  border-radius: 20px;
}
.absolute{

}
.padding_horizontal{
  max-width: 320px;
  width: 100%;
  position: absolute;
  margin-top: 10px;
  padding-left: 25px;
}
.text{
  font-weight: 700;
  font-size: 15px;
  color: wheat;
}
.primary_btn {
  font-size: 2.15rem;
  font-weight: 700;
  line-height: 4.375rem;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.primary_btn_absolute{
  position: absolute;
  margin-left: 25px;
  margin-top: -70px;

}
.button_pr{
  width: auto;
  background-color: rgba(212, 25, 25, 0.67);
  &:hover {
    background-color: #262626ab;
  }
}