.itemContainer{
  min-height: 300px;
  position: relative;
}
.list{
  width: 100%;
  opacity: 1;
  list-style-type: none;
}
.item{
  margin-bottom: 30px;
  width: 100%;
}
.itemInner{
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgba(13,110,253,.2901960784313726);
  box-shadow: 0 3px 3px 0 rgba(13,110,253,.2901960784313726);
  color: #666;
  font-size: 12px;
  position: relative;
  transition: box-shadow .25s ease-out;
  &:hover{
    box-shadow: 0 10px 10px 0 rgba(14, 0, 140);
    border: 1px solid rgb(14, 0, 140);
  }
}
.itemInnerImages{
  float: left;
  margin-right: 5px;
  z-index: 0;
  padding: 10px;
  border-top-left-radius: 9.5px;
  background-color: #d7e0e9;
  position: relative;
  height: 215px;
}
.owlCarousel{
  height: 215px;
}
.images{
  border-radius: 10px;
  width: 100%;
}
.addToFavorites{
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
  background:white;
  -webkit-border-radius:100%;
  -moz-border-radius:100%;
  border-radius:100%;
  width: 32px;
  height: 32px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
  -moz-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
  -moz-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  cursor: pointer;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  -moz-box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
}
.like{
  display: inline-block;
  background-image: url(../../assets/favorite-empty.54f4d6e1.svg);
  background-size: 18px 16px;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
  min-width: 18px;
  padding: 6px;
}
.clearfix{
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    overflow: hidden;
  }
}
.itemContent{
  padding: 10px;
}
.itemMeta{
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-inline: 15px;
}
.itemName{
  color: #333;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.link{
  text-decoration: none;
}

.itemP{
  padding-left: 15px;
}
.itemAddress{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.omMap{
  color: #af9fd6;;
  cursor: pointer;
  padding-left: 25px;
}
.distance{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
}
.distanceText{
  font-weight: 600;
  font-size: 12px;
  padding-top: 6px;
  padding-left: 6px;
}
.itemServices{
  display: inline-block;
  line-height: 10px;
  letter-spacing: 0.4px;
  margin: 0 3px 5px 0;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 18px;
}
.article{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(13,110,253,.2901960784313726);
  height: 217px;
}
.table{
  border-bottom-color: rgba(13,110,253,.2901960784313726);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  width: 100%;
}
.tbody{
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.hotelDescription{
  padding: 10px 25px;
  width: 100%;
}
.linkText{
  font-size: 15px;
  font-weight: 800;
  color: rgba(13, 110, 253, 0.7);
}
.without{
  color: rgb(140, 140, 140);;
}
.priceRow{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
.linkPrice{
  color: #7d7d7d;
  text-decoration: none;
  &:hover{
    color: #7d7d7d;
    text-decoration: none;
  }
}
.priceValue{
  color: #090909;
  font-size: 30px;
}
.toggleRoomDescription{
  display: flex;
  align-items: center;
  border-bottom: 2px dotted #666;
  color: #666;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  gap: 8px;
}
.toggleRoomDescription2{
  color: #f53131;
  line-height: 16px;
  font-size: 12px;
}
.hotelAlbum{
  //display: flex;
  //align-items: center;
  //justify-content: space-evenly;
  //width: 100%;

}
.hotelAlbumContainer{
  //display: flex;
  //align-items: center;
  //justify-content: space-evenly;
  //width: 100%;
  margin-bottom: 20px;
}
.albumPhoto{
  max-width: 500px;
  margin: 0 auto;
}
.albumHotel{

}
.sliderLeftArrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 50px;
  height: 50px;
  bottom: 0;
  transform: rotateZ(180deg) translateY(50%);
  &:before {
    display: none;
  }
}
.sliderRightArrow {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;

  &:before {
    display: none;
  }
}
.descriptionHotel{
  font-size: 15px;
  font-weight: 500;
  color: #999;
  margin-bottom: 20px;
}