@import 'src/scss/_vars.scss';

.header {
  background-color: #1d5d90CC;
  padding: 16px 0;
}
.headerWrapper {
  @extend %globalWrapper;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoBox {}
.loginBox {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
.buttonBox {
  display: flex;
  align-items: center;
  column-gap: 16px;
  color: white;
  font-weight: 500;
}